.hero{
    height: 400px;
    background-image: url('/tonyrodrigo/images/teclado-movil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-color: var(--primary);
}

.backgroundblur{
    background-color: rgb(0, 0, 0, 10%);
    backdrop-filter: blur(20px);
}
.nombre{
    background-color: rgb(0, 0, 0, 35%);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 80%;
    border-radius: 20px;
}


.navbar a{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.2rem 2rem;
    display: block;
    border-radius: 50px;
    transition-property: background-color;
    transition-duration: 300ms;
}

.navbar a:hover{
    background-color: rgb(0, 0, 0, 30%);
}

.active{
    background-color: rgb(0, 0, 0, 30%);
}


@media (min-width: 768px) {

    .nombre{
        width: 20%;
    }

    .hero{
        background-image: url('/tonyrodrigo/images/teclado-banner.svg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(90%);
    }
    .backgroundblur{
        background-color: rgb(0, 0, 0, 10%);
        backdrop-filter: blur(5px);
    }
    .navbar label{
        display: none;
    }

    .navbar a{
        color: var(--white) !important;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 3rem;
        border-radius: 50px;
        transition-property: background-color;
        transition-duration: 300ms;
    }
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: transparent;
        transition: background-color 0.5s ease-in-out
    }

    .fotoface{
        position: absolute !important;
        top: 100% !important;
        left: 50% !important;
        transform: translate(-50%,-50%) !important;
    }
}

@media (max-width: 468px){


}